---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
const pageDescription = "This is the blog archive page.";

---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/posts/first-post/">First post</a></li>
        <li><a href="/posts/second-post/">Second post</a></li>
        <li><a href="/posts/third-post/">Third post</a></li>
    </ul>
</BaseLayout>