---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Home Page";
const pageDescription = "This is the home page description.";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>